<h1>hello</h1>
<form action="/booking/:id" method="post">
  Name: <input type="text" name="name">
  <br>
  Contact number: <input type="number" name="phone">
  <br>
  Available booking times: <select name="preftime">
    <options value="12:00">12:00 PM</options>
    <options value="12:30">12:30 PM</options>
    <options value="13:00">1:00 PM</options>
  </select> 
  <br>
  <input type="submit">

</form>