<div class="flex-container">
  <form>
      <h1>Post-Covid Haircut Selector</h1>
            {{#each haircuts}}
          <img src={{image}}>
          <h2>{{name}}</h2>
          <h3>{{cost}}</h3>
          {{/each}}
          <button></button>
  </form>
</div>
