<div class="home-container">
            {{#each haircuts}}
            <a href="profile/{{id}}">
            <div class="haircut-box">
              <div class="image-box">
          <img src="{{image}}">
          </div>
          <div class="text-box">
          <h2>{{name}}</h2>
          <h3>{{cost}}</h3>
          </div>
          </div>
          </a>
          {{/each}}
  
  </form>
</div>
