<div>
      <h1>Post-Covid Haircut Selector</h1>
          <img class="img" src={{image}} alt={{name}}>
          <h2>{{name}}</h2>
          <h3>{{cost}}</h3>
          <button>Book Now</button>
          <button>Not for me</button>
</div>