<div class= "flex-container" >
      <h1>Post-Covid Haircut Selector</h1>
          <img class="img" src={{image}} alt={{name}}>
          <h2>cut: {{name}}</h2>
          <h3>cost: {{cost}}</h3>
          <button>Book Now</button>
          <button>Not for me</button>
</div>