/* $misty-rose: #f9e0d9ff;
$almond: #e6dbd0ff;
$deep-taupe: #7d6167ff;
$eggplant: #754f5bff;
$eggplant-2: #5d4954ff; */

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e6dbd0ff;
}


.home-container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-container a {
  width: 25%;
  color: black;
  text-decoration: none;
  margin-left: 3vmin;
  margin-right: 3vmin;
  margin-bottom: 7vmin;
}

.haircut-box {
  background-color: #5d4954ff;
}


.image-box img {
  max-width: 100%;
  max-height: 100%;
}

.text-box {
  text-align: center;
  padding-bottom: 5px;
  color: #f9e0d9ff;
}
